<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uth.mapper.BoardMapper">

	<resultMap id="boardMap" type="boardVO">
		<result property="bno" column="BNO" />
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="writeDate" column="WRITE_DATE" />
        <result property="modifyDate" column="MODIFY_DATE" />
        <result property="viewCnt" column="VIEW_CNT" />
        <result property="likeCnt" column="LIKE_CNT" />
        <result property="hateCnt" column="HATE_CNT" />
        <result property="rplCnt" column="RPL_CNT" />
        <result property="writer" column="WRITER" />
	</resultMap> 
	
	<sql id="cri">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="keyArr" item="key">
				<trim prefix="OR">
					<choose>
						<when test="key == 'T'.toString()">
							b.TITLE like '%'||#{word}||'%'
						</when>
						<when test="key == 'C'.toString()">
							b.CONTENT like '%'||#{word}||'%'
						</when>
						<when test="key == 'N'.toString()">
							m.NICKNAME like '%'||#{word}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="selectList" resultMap="boardMap">
	<![CDATA[
		select BNO, TITLE, CONTENT, WRITE_DATE, NICKNAME
		from (
			select
				rownum rn, b.BNO, b.TITLE, b.CONTENT, b.WRITE_DATE, m.NICKNAME
			from tbl_board b left join tbl_member m on b.WRITER = m.EMAIL
			where 
	]]>
	<include refid="cri"></include>
	<![CDATA[
			rownum <= #{pageNo} * #{pageSize}
			order by bno desc
			)
		where rn > (#{pageNo}-1) * #{pageSize}
	]]>				
	</select>
	
	<select id="read" resultMap="boardMap">
		select BNO, TITLE, CONTENT, WRITE_DATE, MODIFY_DATE, LIKE_CNT, HATE_CNT, WRITER
		from tbl_board
		where bno = #{bno}
	</select>
	
	<insert id="write">
		<selectKey keyProperty="bno" resultType="int" order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board(bno, TITLE, CONTENT, WRITER)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<update id="modify">
		update tbl_board
		set title = #{title}, content = #{content}, MODIFY_DATE = sysdate
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board
		where bno = #{bno}
	</delete>
	
	<update id="updateLike" parameterType="int">
		update tbl_board
		set LIKE_CNT = LIKE_CNT + 1
		where bno = #{bno}
	</update>
	<update id="updateHate" parameterType="int">
		update tbl_board
		set HATE_CNT = HATE_CNT + 1
		where bno = #{bno}
	</update>
	<update id="updateView">
		update tbl_board
		set VIEW_CNT = VIEW_CNT + 1
		where bno = #{bno}
	</update>
	
	<select id="getTotalArticle" resultType="int">
		select count(*) from tbl_board
		where
		<include refid="cri"></include>
		bno > 0
	</select>
</mapper>
<!-- 
<![CDATA[

]]>
 -->