<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uth.mapper.BoardMapper">

	<resultMap id="boardMap" type="boardVO">
		<result property="bno" column="BNO" />
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="writeDate" column="WRITE_DATE" />
        <result property="modifyDate" column="MODIFY_DATE" />
        <result property="viewCnt" column="VIEW_CNT" />
        <result property="likeCnt" column="LIKE_CNT" />
        <result property="hateCnt" column="HATE_CNT" />
        <result property="rplCnt" column="RPL_CNT" />
        <result property="writer" column="WRITER" />
	</resultMap> 
	
	
	<select id="selectList" resultMap="boardMap">
		select *
		from tbl_board
		order by bno desc
	</select>
	
	<select id="read" resultMap="boardMap">
		select BNO, TITLE, CONTENT, WRITE_DATE, MODIFY_DATE, LIKE_CNT, HATE_CNT, WRITER
		from tbl_board
		where bno = #{bno}
	</select>
	
	<insert id="write">
		<selectKey keyProperty="bno" resultType="int" order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board(bno, TITLE, CONTENT, WRITER)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<update id="updateLike" parameterType="int">
		update tbl_board
		set LIKE_CNT = LIKE_CNT + 1
		where bno = #{bno}
	</update>
	<update id="updateHate" parameterType="int">
		update tbl_board
		set HATE_CNT = HATE_CNT + 1
		where bno = #{bno}
	</update>
	
</mapper>
<!-- 
<![CDATA[

]]>
 -->